.main {
    height: 100vh;
}

.displayCard {

}

.cardContainer {
    justify-content: center;
    display: flex;
}

.dreamInput {
    margin-top: 50px;
}

h1 {
    font-size: 56px;
    color: #e5e2de;
    font-family: 'Urbanist', sans-serif;
    padding-top: 50px;
}